.anim_spawn
{
	animation-duration: 0.5s;
	animation-name: spawn;
}

@keyframes spawn {
  from {
    transform: scale(0.6,0.6);
  }

  50%{
  	transform: scale(1.03,1.03);
  }

  to {
    transform: scale(1,1);
  }
}

.anim_summ
{
	animation-duration: 0.5s;
	animation-name: summ;
}

@keyframes summ {
  from {
    transform: scale(1,1);
  }

  50%{
  	transform: scale(1.05,1.05);
  }

  to {
    transform: scale(1,1);
  }
}

.anim_move_top
{
	animation-duration: 200ms;
	animation-name: move_top;
}

@keyframes move_top
{
	from{
		transform: translate(0,0px);
		opacity: 1;
	}

	50%{
		transform: translate(0,-50%);
		opacity: 1;
	}

	to{
		transform: translate(0,-119%);
		opacity: 1;
	}
}

.anim_move_bottom
{
	animation-duration: 200ms;
	animation-name: move_bottom;
}

@keyframes move_bottom
{
	from{
		transform: translate(0,0px);
		opacity: 1;
	}

	50%{
		transform: translate(0,50%);
		opacity: 1;
	}

	to{
		transform: translate(0, 119%);
		opacity: 1;
	}
}

.anim_move_left
{
	animation-duration: 200ms;;
	animation-name: move_left;
}

@keyframes move_left
{
	from{
		transform: translate(0,0);
	}

	50%{
		transform: translate(-50%,0);
	}
	}

	to{
		transform: translate(-115%,0);
	}
}

.anim_move_right
{
	animation-duration: 200ms;
	animation-name: move_right;
}

@keyframes move_right
{	
	from{
		transform: translate(0,0px);
	}

	50%{
		transform: translate(50%,0);
	}


	to{
		transform: translate(115%,0);
	}
}